<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ASQ - My Presentations</title>
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
		
		<link rel="stylesheet/less" type="text/css" href="/css/backend.less">
		<script src="/js/less-1.3.1.min.js" type="text/javascript"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function() {
				var nslides=6;
				var options="";
				for (var i=0; i<nslides;i++) {
					options+="<option>"+(i+1)+"</option>";
				}
				$("[name='afterslide']").html(options);
				$("[name='questionType']").change(function() {
					if ($("[name='questionType']").val()=="Text input") {
						$('#addOption').hide();
						$('.labelcheckbox').each(function() {
							$(this).hide();
						});
						
						$('.option').hide();
						$('#labelcheckbox1').hide();
						$('#inputOption1').show();
						$('.removeOption').hide();
					} else {
						$('#addOption').show();
						$('.labelcheckbox').each(function() {
				
							$(this).show();
						});
						
						$('#labelcheckbox1').show();
						$(".option").show();
						$('.removeOption').show();
					}
				}
				);
				
				
				$('#addQuestion').click(function() {
					
					$('#addQuestionForm').submit();
				});
				
				$('#addOption').click(function() {
					
					var noptions=$("[class='option']").length+2;
					var optionsstring='<div class="controls-row">'+
					'<input type="text" id="inputOption'+noptions+'"  name="option'+noptions+'"  class="option">'+
					'<i style="cursor: pointer" id="removeOption'+noptions+'" class="icon-minus-sign removeOption" onclick="delOption(this)" ></i>'+
					
					
					'<label class="labelcheckbox" id="labelcheckbox'+noptions+'"><input type="checkbox" class="checkbox" id ="checkbox'+noptions+'" name="checkbox'+noptions+'" > Correct</label></div>';
					$('#options').append(optionsstring);
					
					
				});
				
				$('.editquestion').click(function() {
					
					var currentId = $(this).attr('id');
					var index=parseInt(currentId.slice(12));
					<% for (var i=0;i<arrayquestions.length;i++) { %>
					if(<%=i%>==index) {
						$("#inputQuestion").val("<%=arrayquestions[i].questionText %>");
						$('#addQuestionForm').attr("action", "edit"+window.location.search+"&quest=<%=arrayquestions[i]._id%>");
						$("#inputType").val("<%=arrayquestions[i].questionType %>");
						<% if (arrayquestions[i].questionType=='Text input') {%>
							$('#addOption').hide();
							$('.labelcheckbox').each(function() {
								$(this).hide();
							});
							$('#labelcheckbox1').hide();
							$('.option').hide();
							$('#inputOption1').show();
							$('.removeOption').hide();
						<% } else { %>
							$('#addOption').show();
							$('.labelcheckbox').each(function() {
								$(this).show();
							});
							$('#labelcheckbox1').show();
							$(".option").show();
							$('.removeOption').show();
						<% }  %>
						$('#afterslide').val("<%=arrayquestions[i].afterslide %>");
						$(".option").each(function() {
							$(this).remove();
						});
						$(".removeOption").each(function() {
							$(this).remove();
						});
						$(".labelcheckbox").each(function() {
							$(this).remove();
						});
						<% for (var j=0;j<arrayquestions[i].answeroptions.length-1;j++) { %>
							var optionsstring='<div class="controls-row">'+
							'<input type="text" id="inputOption<%=(j+2)%>"  name="option<%=(j+2)%>" class="option">'+
							'<i style="cursor: pointer" id="removeOption'+<%=(j+2)%>+'" class="icon-minus-sign removeOption" onclick="delOption(this)" ></i>'+
							'<label id="labelcheckbox'+<%=(j+2)%>+'"class="checkbox"><input type="checkbox" id ="checkbox'+<%=(j+2)%>+'" name="checkbox'+<%=(j+2)%>+'" > Correct</label></div>';
							$('#options').append(optionsstring);
							
						<% } %>
						<% for (var j=0;j<arrayquestions[i].answeroptions.length;j++) { %>
							$('#inputOption<%=(j+1)%>').val('<%=arrayquestions[i].answeroptions[j].optionText%>');
							<% if (arrayquestions[i].answeroptions[j].correct==true) {%>
								$('#checkbox<%=(j+1)%>').attr('checked', true);
							<% } else {%>
								$('#checkbox<%=(j+1)%>').attr('checked', false);
							<% } %>
							
						<% } %>
						
					
						
					}
					<% } %>
					
					$('#myModal').show();

				});
				
				$('#addnewquestion').click(function() {
					$("#inputQuestion").val("");
					$("#inputType").val("Multiple choice");
					$('#afterslide').val("");
					$('#inputOption1').val("");
					$('#checkbox1').attr('checked',false);
					$('#addOption').show();
							$('.checkbox').each(function() {
								$(this).show();
							});
							$('#checkbox1').show();
							$(".option").show();
							$('.removeOption').show();
					$(".option").each(function() {
							$(this).remove();
						});
						$(".removeOption").each(function() {
							$(this).remove();
						});
						$(".checkbox").each(function() {
							$(this).remove();
						});
				});
				
					
				$('#deleteslideshow').attr('href', "deleteslideshow"+window.location.search);
				
				$('#addQuestionForm').attr('action',"edit"+window.location.search);
				
				$('.delete').each( function() {
					$(this).attr('href', "delete"+window.location.search+"&"+$(this).attr('href'));
				});
				
				$('.edit').each(function() {
					$(this).attr('href', $(this).attr('href')+window.location.search);
				});
				
			});
			
			var delOption=function(element) {
					
					var index=parseInt(element.id.slice(12));
					console.log(index);
					$('#inputOption'+index).val("");
					$('#inputOption'+index).hide();
					$('#checkbox'+index).hide();
					$('#removeOption'+index).hide();
					$('#labelcheckbox'+index).hide();
					
			};
			
		</script>
		<style type="text/css" media="screen">
			/*.modal{
			   width:700px;
			   margin-left:-350px;
			}*/
		</style>
	</head>
	<body>
		
		<!---   top menu --->
		<% include menu %>
		
		
		<!---   Content area   --->
		<div class="container" id="content">

			<div class="row group" >
				
				<div class="span12"><h3>Edit "<%=title%>"</h3></div>
				<!---   Seperating Headline   --->
				<div class="span12  headline">
					<h2 class="pull-left">Questions & Answers</h2>
					<a class="pull-right controls" id="deleteslideshow"><i class="icon-trash icon-white"> </i> Delete Slideshow </a>
					<a class="pull-right controls"><i class="icon-signal icon-white"> </i> Show Statistics </a>
					<a class="pull-right controls edit" href="edithtml"><i class="icon-align-left icon-white"> </i> Edit HTML </a>
				</div>
				
				
					<div id="editorQuestions" class="span12">
						<table class="table">
						  <thead>
						    <tr>
						      <th>#</th>
						      <th>Question</th>
						      <th>Type</th>
						      <th>Position</th>
						      <th>Actions</th>
						    </tr>
						  </thead>
						  <tbody>
						    <% for (var i=0;i<arrayquestions.length;i++) { %>
						    <tr>
							<td><%=(i+1)%></td>
							<td><%=arrayquestions[i].questionText %></td>
						      <td><%=arrayquestions[i].questionType %></td>
						      <td><%=arrayquestions[i].afterslide %></td>
						      
						      <td>
						      	<a id ="editquestion<%=i%>" class="editquestion" href="#" data-toggle="modal" data-target="#myModal" ><i class="icon-pencil icon-white"></i></a> &nbsp;&nbsp;
						      	<a class ="delete" href="quest=<%=arrayquestions[i]._id %>"><i class="icon-trash icon-white"></i></a>	&nbsp;&nbsp;
						      	<a href="#"><i class="icon-resize-vertical icon-white"></i></a> &nbsp;&nbsp;
						      </td>
							
						    </tr>
						<% } %>
						  </tbody>
						</table>
						<a href="#" data-toggle="modal" id="addnewquestion" data-target="#myModal" class="span12" style="text-align: center; color: white"><i class="icon-plus-sign icon-white"></i> Add question </a>
					</div>
	
					
					 
				
			</div>
			
		</div>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">?</button>
	    <h3 id="myModalLabel">Add or edit question</h3>
	  </div>
	  <div class="modal-body">
	    <form class="form-horizontal" id="addQuestionForm" method="post">
		  <div class="control-group">
		    <label class="control-label" for="inputQuestion">Question text:</label>
		    <div class="controls">
		      <input type="text" id="inputQuestion" name="questionText" placeholder="In which country is Lugano?">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputType">Question type</label>
		    <div class="controls">
		      <select id="inputType" name="questionType" >
				  <option>Multiple choice</option>
				  <option>Text input</option>
				</select>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputQuestion">After slide</label>
		    <div class="controls">
		      <input type="text" id="afterslide" name="afterslide" >
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputOptions">Answer Options</label>
		    <div class="controls" id="options">
			    <div class="controls-row">
			      <input type="text" id="inputOption1"  name="option1">
				<i style="cursor: pointer" id="addOption" class="icon-plus-sign"></i>
			      <label  id="labelcheckbox1"><input type="checkbox" id="checkbox1" name=checkbox1> Correct</label>
			      
			    </div>
			    
			    
			    
		    
		    </div>
		  </div>
		 </form>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <button class="btn btn-primary" id="addQuestion">Save question</button>
	  </div>
	</div>
	
	
	</body>
</html>