 <div id="welcomeScreen" class="modal hide fade">
    <div class="modal-header"><h1><%= title %></h1></div>
    <div class="modal-body">
        <h3>Join the show!</h3>
        <h2><a href="http://<%= host %>:<%= port %>/live/<%= user %>/">http://<%= host %>:<%= port %>/live/<%= user %>/</a></h2>
        <h2>Passphrase: <span class="text-info"><strong><%= pass %></strong></span></h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"  data-dismiss="modal" onclick="impress().start()" >Join in</button>
    </div>

 </div>