 <div id="welcomeScreen" class="modal hide fade" style="pointer-events: auto;">
    <div class="modal-header"><h1><%= title %></h1></div>
    <div class="modal-body">
        <h2>Please wait...</h2>
        <h4>You are connected to:</h4>
        <h3><a href="http://<%= host %>:<%= port %>/live/<%= user %>/">http://<%= host %>:<%= port %>/live/<%= user %>/</a></h3>
        <h3>Passphrase: <span class="text-info"><strong><%= pass %></strong></span></h3>
    </div>
 </div>