<!DOCTYPE html>
<html>
	<head>
		<title>ASQ - My Presentation</title>
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
		
		<link rel="stylesheet/less" type="text/css" href="/css/backend.less">
		<script src="/js/less-1.3.1.min.js" type="text/javascript"></script>
		
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    	
    	<script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);

	     function drawChart() {

			var rvswOpt = {
				title : 'Correct vs. Wrong',
				'width':760,
				'height':400,
				chartArea:{left:0,top:0,width:"600px",height:"350px"}
			};
	
			var mscstatOpt = {
				animation: {duration: 1000},
				hAxis: {allowContainerBoundaryTextCufoff: true, slantedTextAngle: 50},
				'width':760,
				'legend': {position: 'top', textStyle: { fontSize: 16}}
			};
     	   
     	   <% for(var quest = 0; quest < stats.length; quest++){ %>
     	   	
     	   		<% if(stats[quest].questionType === "Multiple choice"){
     	   			var mscstatData<%=quest%> 	= google.visualization.arrayToDataTable(<%=stats[quest].countedMcOptions%>);
        			var rvswData<%=quest%>		= google.visualization.arrayToDataTable(<%=stats[quest].correct%>);
        			var diffAnsData<%=quest%>  	= google.visualization.arrayToDataTable(<%=stats[quest].equalAnswers%>);
        			
        			var mscstatChart<%=quest%> = new google.visualization.ColumnChart(document.getElementById('mscstatChart<%=quest%>'));
        			mscstatChart<%=quest%>.draw(mscstatData<%=quest%>, mscstatOpt);
        			
        			     	   			
     	   		<% } else { %>
        			var rvswData<%=quest%>		= google.visualization.arrayToDataTable(<%=stats[quest].correct%>);
        			var diffAnsData<%=quest%>  	= google.visualization.arrayToDataTable(<%=stats[quest].equalAnswers%>);
     	   			
     	   		<% }
     	   		
     	   		var diffAnsChart<%=quest%> 		= new google.visualization.ColumnChart(document.getElementById('diffAnsChart<%=quest%>'));
        		diffAnsChart<%=quest%>.draw(diffAnsData<%=quest%>, mscstatOpt);
        		
        		var rvswChart<%=quest%> 		= new google.visualization.PieChart(document.getElementById('rvswChart<%=quest%>'));
        		rvswChart<%=quest%>.draw(rvswData<%=quest%>, rvswOpt);

     	   		
     	   <% } %> 
	 }
    </script>

	</head>
	<body>
		
		<!---   top menu --->
		<% include menu %>
		
		
		<!---   Content area   --->
		<div class="container" id="content">

			<div class="row group" >
				
				<div class="span12">
					<h2 class="pull-left">Satistics of "What is ASQ?"</h2>
				</div>
				
				<!---   Seperating Headline   
				<div class="span12  headline">
					<h2 class="pull-left">General statistics</h2>
				</div>
				
				<div class="span12">
					<div class="row">
						<div class="span3">
							<p><b>Presentation held on:</b></p>
							<p><b>Average answers/question</b></p>
						</div>
						<div class="span3">
							<p>21.10.2012 - 13: 00</p>
							<p>16 (46%)</p>
						</div>
						<div class="span3">
							<p><b>Students loged in:</b></p>
						</div>
						<div class="span3">
							<p>35</p>
						</div>
					</div>
					
					<div id="chart_div" class="span12 chart" style="height: 300px;margin-bottom: 30px"></div>
				</div>
				--->
				
				
			</div>
			
		</div>


	</body>
</html>