<!DOCTYPE html>
<html lang="en">
	<head>
		<% include htmlHead %>
		<title>ASQ - Edit <%=title%></title>
		<script src="/js/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>

	</head>

	<body  onorientationchange="updateOrientation();">

		<!---   top menu --->
		<% include menu %>

		<!---   Content area   --->
		<div class="container-fluid" id="mainContainer">

			<!--- Edit menu --->
			<div class="row-fluid" id="waitingScreen">
				<div class="span12 headline">
					<h1 style="text-align: center;"><%= title %></h1>
					<h5 style="text-align: center;" >Please open this link to follow the presentation</h5>

					<a href="http://<%= host %>:<%= port %>/live/<%= user %>/"><h2 style="text-align: center;">http://<%= host %>:<%= port %>/live/<%= user %>/</h2></a>
				</div>
				<div class="span3 offset4">
					<p id="viewers" style="text-align: left; width: 185px; margin: 0 auto 0 auto;"></p>
					<p id="numViewers" style="text-align: center;" class="muted">
						Waiting for viewers
					</p>
					<button class="btn btn-primary btn-large"  data-dismiss="modal" onclick="impress().start()" style="margin: 0 auto; display: block">
						Start presentation
					</button>
					<br />
					<br />
					<p style="text-align: center"><a href="/admin/" class="btn" style="margin: 0 auto; display: inline; text-align: center;">Go to presentation view</a></p>

				</div>
			</div>
		</div>
		<!-- /container -->

			<div id="slidesControll" style="display: none">
				<!---   Content area   --->
				<div class="container" id="mainContainer" class="visiblephone">
					<div class="controlls">
						<div id="clock">
							<div>
								<img src="/img/clock.png"/>
							</div>
							<div class="btn-group" data-toggle="buttons-radio">
								<button type="button" class="btn btn-inverse active">
									Timer
								</button>
								<button type="button" class="btn btn-inverse">
									Countdown
								</button>
								<button type="button" class="btn btn-inverse">
									Clock
								</button>
							</div>
						</div>
						<br />
						<button class="btn btn-large btn-primary controllButton" type="button"  id="nextButton" onclick="impress().next()">
							Next slide
						</button>
						<a href="slidesProfQuest.html" class="btn btn-info controllButton" style="width: 150px" onclick="impress().prev()">Previous slide</a>
						<a href="slidesProfStats.html">
						<button class="btn btn-success controllButton" type="button">
							Statistics
						</button></a>

					</div>

				</div>
				<!-- /container -->

				<!--- Slides Controll --->
				<div id="controllThumbs" class="hidden-phone">
					<div class="wrapper">

						<div class="thumb">
							<p>
								HTML5 Presentations with real time user feedback
							</p>
							<span class="badge slidenr">1</span>
						</div>

						<div class="thumb">
							<p>
								What is ASQ?
							</p>
							<div>
								<span class="label label-success"><i class="icon-question-sign icon-white"></i> What is ASQ about?</span>
								<span class="label label-info"><i class="icon-exclamation-sign icon-white"></i> What is ASQ about?</span>
							</div>
							<span class="badge slidenr">2</span>
						</div>

						<div class="thumb active">
							<p>
								Objective
							</p>
							<span class="badge slidenr">3</span>
						</div>

						<div class="thumb">
							<p>
								Project planning in 4 Milestones
							</p>
							<span class="badge slidenr">4</span>
						</div>

						<div class="thumb">
							<div>
								<span class="label label-success"><i class="icon-question-sign icon-white"></i> Do you think this is...</span>
								<span class="label label-info"><i class="icon-exclamation-sign icon-white"></i> Do you think this is...</span>
							</div>
							<span class="badge slidenr">5</span>
						</div>

						<div class="thumb">
							<div>
								<span class="label label-success"><i class="icon-question-sign icon-white"></i> Do you think this is...</span>
								<span class="label label-info"><i class="icon-exclamation-sign icon-white"></i> Do you think this is...</span>
							</div>
							<span class="badge slidenr"></span>
						</div>

					</div>
				</div>
			</div>


		<!-- Le javascript --->
		<div id="asq-container" style="display:none;">
			<%- partial(path) %>
		</div>
		<script>
			$(function() {
				var width = 0;
				$('#controllThumbs .thumb').each(function() {
					width += $(this).outerWidth(true);
				});
				$('#controllThumbs .wrapper').css('width', width + "px");
			});

		</script>

		<script type="text/javascript" language="javascript">
			function updateOrientation() {
				var displayStr = "Orientation : ";

				switch(window.orientation) {
					case 0:
					case 180:
						$("#mainContainer").removeClass("hidden-phone");
						$("#controllThumbs").addClass("hidden-phone");
						break;

					case -90:
					case 90:
						$("#mainContainer").addClass("hidden-phone");
						$("#controllThumbs").removeClass("hidden-phone");
						break;
				}

			}

			updateOrientation();
		</script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/impress-<%= mode %>.js"></script>
		<script src="/js/<%= mode %>.js"></script>
		<script>
			window.onload = function() {
				impress().init();
				connect(<%='\'' + host + '\''%>,  <%=port %>, '<%= id %>');
			}
		</script>
	</body>
</html>
